h1{
    text-align: center;
    text-decoration: underline;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding:30px;
    color:black;
 
}
.main{
   text-align: center;
   padding:40px;
}
body{
background-image: url('https://www.imageshine.in/uploads/gallery/lavender-colour-background-hd.jpg');
font-weight: bolder;
background-size: cover;
background-repeat: no-repeat;
font-size:20px;
color:black;
}

select{
    color:orangered;
    background-color: aqua;
    font-weight: bold;
    font-size: 18px;
}

select:hover{
    color:black;
    background-color: brown;
     font-size: 18px;
}

button{
    color:green;
    background-color: aquamarine;
     font-weight: bold;
     font-size: 18px;
}

button:hover{
    color:blue;
    background-color:red;
     font-size: 18px;
}
input{
    background-color: beige;
    color:maroon;
     font-weight: bold;
     font-size: 18px;
     box-shadow: 3px 3px 3px blue;
     border-radius: 25%;
     text-align: center;

}

label{
    background-color: greenyellow;
    box-shadow: 3px 3px 3px red;
  
}
